.Not-found-message {
    width: 315px;
    height: 41px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }