@import url(//db.onlinewebfonts.com/c/440785c689da19fbbdb1346932c8c029?family=Monaco);
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
}
.result {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 35px;
  }
  
  .result-flex {
    display: flex;

}

.result-margin {
    margin: 0;
}

.NotFound {
    width: 1152px;
    height: 800px;
    background-color: var(--white);
  }

  .repos-container {
    padding-left: 10%;
    padding-right: 10%;
  }