*{
  box-sizing: border-box;
  margin: 0 auto;
}
.result {
    display: flex;
    width: 100%;
    background-color: var(--white);
    padding: 35px;
  }

.NotFound {
    width: 1152px;
    height: 800px;
    background-color: var(--white);
  }