.Github-Result {
    width: 420px;
    font-family: Monaco;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
  .Github-Result .text-style-2 {
    font-family: Raleway;
    font-weight: 200;
    font-style: italic;
  }