.repo-name {
    display: flex;
    font-family: Raleway;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
  }

  .repo-description {
    display: flex;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .star-icon {
    display: flex;
    width: 25.5px;
    height: 24.5px;
  }

  .star-count {
    width: 255.3px;
    height: 22.4px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5c5c;
  }

  .repo-margin {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
}
ul li {
  list-style: none;
}