.search {
  display: flex;
  justify-content: start;
}

.Search-Input {
  width: 650px;
  height: 45px;
  background-color: var(--white);
}
button {
  width: 100px;
  height: 45px;
  border-radius: 2px;
  background-color: #ac53f2;
  border: none;
}
a:link {
  text-decoration: none;
}

.Search-Icon {
  width: 30px;
  height: 30.1px;
  box-shadow: 0 0 4px NaNpx var(--black-40);
  background-color: var(--white);
}
